@mixin styleForText ($fontSize: $fontSizeContent, $fontFamily: $fontMain, $color: $colorBlack) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin customContainer ($width) {
  width: $width;
  margin: 0 auto;
  padding: 0;

  @media screen and (max-width: 1200px) {
    & {
      width: 97%;
    }
  }
}

@mixin styleWithPrefix ($property, $value) {
  #{'-webkit-' + $property}: $value;
  #{'-moz-' + $property}: $value;
  #{'-ms-' + $property}: $value;
}
