$colorBlack: #131921;
$colorDarkGrey: #232f3e;
$colorGrey: #b8b8b8;
$colorOrange: #fba302;
$colorBlue: #34b9e4;
$colorBlueDark: #195c78;
$colorGreyLight: #4a4a4a;
$colorError: #fc511c;

$fontMain: "OpenSansRegular", sans-serif;
$fontForTitle: 'SegoeUIBlack', sans-serif;
$fontAdditional: 'OpenSansSemiBold', sans-serif;
$fontSizeContent: 15px;
$fontSizeSmall: 13px;
$fontSizeForActiveTitle: 50px;
