@import "scss/core/vars";
@import "scss/core/mixins";

.container {
  @include customContainer(1170px);
}

.descText {
  width: 1111px;
  line-height: 28px;
  margin: 0 auto;
  padding: 51px 0 57px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .descText {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .descText {
    padding: 23px 0 22px;
    line-height: 24px;
    font-size: $fontSizeSmall;
    width: 100%;
  }
}
