@import "scss/core/vars";
@import "scss/core/mixins";

.container {
  @include customContainer(1170px);
}

.sliderWrapper {
  position: relative;
}

.buttonSlider {
  position: absolute;
  top: 50%;
  margin-top: -23.5px;
}

.buttonRight {
  right: 0;
}

.buttonLeft {
  left: 0;
  z-index: 1;
  transform: rotate(-180deg);
}

.sliderIcon {
  stroke: white;
  stroke-width: 4px;

  &:hover {
    stroke: $colorDarkGrey;
  }
}

.dots {
  position: absolute;
  bottom: 22px;
  display: flex !important;
  justify-content: center;
  width: 100%;

  & li {
    margin-right: 8px;
  }

  & li:last-child {
    margin-right: 0;
  }
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
}

.dotActive {
  background: #091a44;
}

.sliderSecond,
.sliderFirst,
.sliderThird {
  height: 462px;
}

.sliderFirst {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background: #4d5764;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sliderSecond {
  background-image: url("/images/Depositphotos.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderThird {
  background: grey;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.slideFirstTitle {
  color: white;
  line-height: 45px;
  margin-top: 104px;
  text-align: center;
}

.slideSecondTitle {
  margin-top: 28px;
  line-height: 104px;
  text-align: left;
  color: white;
  margin-left: 52px;
  position: relative;
}

.slideThirdTitle {
  color: white;
  text-align: center;
  line-height: 62px;
  margin-top: 75px;
}

.activeText,
.activeTextSecond,
.activeTextThird {
  color: $colorOrange;
}

.activeText,
.activeTextThird {
  font-size: $fontSizeForActiveTitle;
}

.activeTextSecond {
  font-size: 130px;
  position: absolute;
  bottom: 6px;
}

.sliderFirstButton,
.sliderSecondButton,
.sliderThirdButton {
  width: 300px;
}

.sliderFirstButton {
  margin-top: 41px;
}

.sliderSecondButton {
  margin-left: 51px;
  margin-top: 55px;
}

.sliderThirdButton {
  margin-top: 51px;
}

.descText {
  width: 1111px;
  line-height: 28px;
  margin: 0 auto;
  padding: 51px 0 57px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .descText {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .sliderWrapper {
    width: 103.6%;
    margin-left: -2%;
  }

  .buttonSlider {
    display: none;
  }

  .sliderSecond,
  .sliderFirst,
  .sliderThird {
    height: 477px;
  }

  .slideFirstTitle {
    margin-top: 118px;
    line-height: 38px;
    font-size: 25px;
    padding: 0 5px;
  }

  .slideThirdTitle {
    margin-top: 97px;
    font-size: 25px;
    padding: 0 5px;
    line-height: 37px;
  }

  .activeText {
    font-size: 25px;
  }

  .sliderFirstButton,
  .sliderSecondButton,
  .sliderThirdButton {
    width: 97%;
  }

  .sliderFirstButton {
    margin-top: 89px;
  }

  .sliderThirdButton {
    margin-top: 65px;
  }

  .activeTextThird {
    font-size: 40px;
  }

  .slideSecondTitle {
    font-size: 32px;
    margin-top: 43px;
    line-height: 43px;
    margin-left: 9px;
  }

  .mobileDiscount {
    font-size: 60px;
    line-height: 81px;
  }

  .activeTextSecond {
    font-size: 75px;
    line-height: 101px;
    position: static;
  }

  .sliderSecondButton {
    margin-top: 91px;
    margin-left: 2%;
  }

  .dots {
    bottom: 25px;
  }

  .descText {
    padding: 23px 0 22px;
    line-height: 24px;
    font-size: $fontSizeSmall;
    width: 100%;
  }
}
