@import "scss/core/mixins";
@import "scss/core/vars";

.wrapper {
  width: 100%;
  height: 88px;
  background-color: $colorBlack;
}

.container {
  @include customContainer(1170px);

  height: 100%;
  display: flex;
  position: relative;
}

.infoWrapper {
  margin-top: 6px;
}

.phone,
.address {
  margin-bottom: 8px;
}

.phone,
.address,
.email {
  @include styleForText($fontSizeSmall, $fontMain, white);

  position: relative;
  padding-left: 28px;

  &:before {
    position: absolute;
    left: 0;
  }
}

.phone {
  &::before {
    content: url("/svg/el_phone.svg");
  }
}

.address {
  &::before {
    content: url("/svg/bi_geo-alt.svg");
  }
}

.email {
  &::before {
    content: url("/svg/ion_mail.svg");
  }
}

.linksWrapper {
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -12px;
}

.icon {
  fill: white;

  &:hover {
    fill: $colorOrange;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
  }

  .infoWrapper {
    display: none;
  }

  .linksWrapper {
    top: 7px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 41px;
  }
}
