@import "scss/core/mixins";
@import "scss/core/vars";

.wrapper {
  width: 100%;
  height: 88px;
  background-color: $colorBlack;
}

.container {
  @include customContainer(1170px);

  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.infoWrapper {
  margin-top: 6px;
}

.phone,
.address {
  display: block;
  margin-bottom: 8px;
}

.phone,
.address,
.email {
  @include styleForText($fontSizeSmall, $fontMain, white);

  position: relative;
  padding-left: 28px;

  &:before {
    position: absolute;
    left: 0;
  }
}

.phone {
  &::before {
    content: url("/svg/el_phone.svg");
  }
}

.address {
  &::before {
    content: url("/svg/bi_geo-alt.svg");
  }
}

.email {
  &::before {
    content: url("/svg/ion_mail.svg");
  }
}

.linksWrapper {
  margin-top: 22px;
}

.icon {
  fill: white;

  &:hover {
    fill: $colorOrange;
  }
}

.logo {
  width: 235px;
  margin-top: -11px;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infoWrapper {
    display: none;
  }

  .linksWrapper {
    margin-top: 7px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 67px;
  }

  .logo {
    width: 153.66px;
    height: 35px;
    margin-top: -6px;
  }
}
