@import "scss/core/vars";
@import "scss/core/mixins";

.sliderWrapper {
  position: relative;
}

.sliderButton {
  position: absolute;
  width: 300px;
  bottom: 121px;
  left: 50%;
  margin-left: -150px;
}

.buttonSlider {
  position: absolute;
  top: 50%;
  margin-top: -23.5px;
}

.buttonRight {
  right: 0;
}

.buttonLeft {
  left: 0;
  z-index: 1;
  transform: rotate(-180deg);
}

.sliderIcon {
  stroke: white;
  stroke-width: 4px;

  &:hover {
    stroke: $colorDarkGrey;
  }
}

.dots {
  position: absolute;
  bottom: 22px;
  display: flex !important;
  justify-content: center;
  width: 100%;

  & li {
    margin-right: 8px;
  }

  & li:last-child {
    margin-right: 0;
  }
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
}

.dotActive {
  background: #091a44;
}

.slideWrapper {
  position: relative;
  height: 462px;
  width: 100%;
}

.slide {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sliderWrapper {
    width: 103.6%;
    margin-left: -2%;
  }

  .buttonSlider {
    display: none;
  }

  .slideWrapper {
    height: 477px;
  }

  .sliderButton {
    width: 304px;
    bottom: 63px;
  }

  .dots {
    bottom: 25px;
  }
}
